{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <form method="POST" action="{% url 'output' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='info'><b>Information :</b></label>
                        <textarea rows="10" cols="auto" class="form-control" name="text" id="text" placeholder="Paste Information here..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Extract">
                    </div>
                </form>
                {% if urls|length > 0 %}
                <h2> URLs extracted from the given corpus: </h2>
                <table class="table table-bordered table-hover table-responsive">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Protocol</th>
                      <th scope="col">Domain</th>
                      <th scope="col">Path</th>
                      <th scopr="col">URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for url in urls %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      {% for item in url %}
                       <td>{{item}}</td>
                      {% endfor %}
                      <td><a href="{{url.0}}://{{url.1}}{{url.2}}" target="_blank">Click here</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-md-4 col-sm-4">
                <h4>Extracted Keywords:</h4>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Keywords</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for res in text %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{res}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
